<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://fm-toolbox.duckdns.org:5433/staff</property>
        <property name="hibernate.connection.username">test</property>
        <property name="hibernate.connection.password">test</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hbm2ddl.auto">validate</property>


        <mapping class="am.tech42.staff.model.UserEntity" />
        <mapping class="am.tech42.staff.model.Employee" />
        <mapping class="am.tech42.staff.model.Skill" />
        <mapping class="am.tech42.staff.model.JobType" />
        <mapping class="am.tech42.staff.model.Level" />
        <mapping class="am.tech42.staff.model.Post" />


    </session-factory>
</hibernate-configuration>